
.app-sidebar-panel {
  position: fixed;
  left: -250px;
  bottom: 0;
  top: 46px;
  width: 250px;
  height: calc(100% - 46px) !important;
  background: #042331;
  transition: all 0s ease !important;
  z-index: 9999;
  overflow-x: hidden;
  overflow-y: auto;

  &.visible{
    left: 0;
  }

  ul {
    a {

      display: block !important;
      height: 100%;
      width: 100%;
      font-size: 15px !important;
      color: white !important;
      box-sizing: border-box;
      border-bottom: 1px solid black;
      border-top: 1px solid rgba(255, 255, 255, .1);
      padding: 15px !important;
      //transition: .4s;

      .nav-item-icon {
        width: 35px;
      }
      .nav-item-text{
        padding-left: 10px;
      }
    }
  }

  &.colapsed {
    left: 0;
    width: 100px;

    ul {

      a {
        padding: 15px 2px !important;
        text-align: center;
        .nav-item-icon {
          width: 24px;
          display: block;
          margin: auto;
        }
        .nav-item-text {
          text-align: center;
          width: 100%;
          padding-left: 0;
          font-size: 13px;
          color: $color-gray-c;
        }
      }
    }

  }

}

.o_main_content.navbar-colapsed {
  margin-left: 100px;
}
.o_main_content.navbar-visible{
  margin-left: 250px;
}

.sidebar-drawer{
  line-height: 45px;padding:15px;
  &:hover{background-color: #22527b;cursor:pointer;}
}

.main-nav > .container-fluid .o_sub_menu > .o_sub_menu_content > .oe_secondary_menu {
  margin-left: 0 !important;
}
