// =============================================================================
// Basics
// =============================================================================
ul {
  a{
    font-size: 13px !important;
    font-weight: 800 !important;
    transition: color .2s, background .2s;
  }
}

// =============================================================================
// Backgound
// =============================================================================
.bg-primary {background: $color-primary !important;}
.bg-secondary {background: $color-secondary !important;}
.bg-white {background: $color-light !important;}
.bg-dark {background: $color-dark !important;}
.bg-danger {background: $color-danger !important;}
.bg-purple {background: $color-purple !important;}
.bg-blue {background: $color-blue !important;}
.bg-pink {background: $color-pink !important;}
.bg-green {background: $color-green !important;}
.bg-orange {background: $color-orange !important;}
.bg-grey {background: $color-grey !important;}

