// =============================================================================
// Variables
// =============================================================================
$social-link-size: 35px;

.footer {
  background:$color-dark-3;
  overflow:visible;
  padding: 40px 20px 20px;
  @include media-query-max($media-phone) {padding: 20px 5px;}
  @include media-query-max($media-tablet) {padding: 20px 10px;}
  font-family: $f-lato;
  font-weight: $f-regular;

  .footer-logo {
    height: 50px;
    position: relative;
    margin: 0 auto -15px;
  }

  .btn-store{
    display: block;
    margin-bottom: 10px;
    width: 200px;

    img {
      width: 100%;
    }


  }
}




.footer-widgets {
  margin-top: 42px;
  .footer-widget {
    padding-right:25px;
    @include media-query-max($media-tablet) {
      margin-top: 25px;
      margin-bottom: 15px;
    }

    .small-logo {
      margin: 10px 0 15px;
    }

    .company-contact {
      color: $color-gray-c;
      font-size: 14px;
      span{
        color: $color-light;
      }
    }

    h4 {
      color: $color-light;
      text-transform: uppercase;
      margin-bottom: 20px;
      margin-top: 0;
      padding: 0;
    }

    ul.posts { margin:0; padding:0; list-style: none;}
    ul.posts li {padding:9px 0; border-bottom:1px solid $color-gray-4; font-size:15px;}
    ul.posts li:first-child {padding-top:0; }
    ul.posts li:last-child {border-bottom:0; }
    ul.posts li a {color:$color-light-2; font-weight: $f-regular !important;}
    ul.posts li a:hover {color:$color-light;}
    ul.posts li span {display:block;font-size:12px; margin-top:3px;color:#B9B9B8;}
  }
}

/* Social Buttons ---------------------- */
.social-links {
  margin: 40px 0 0;
  padding: 0;
  li {
    list-style: none;
    display: inline-table;

    a {
      color: $color-light-3;
      font-size: 15px !important;
      display: inline-block;
      padding: 10px;
      &:hover{
        color: $color-white;
      }

      img {
        height: 20px;
      }
    }
  }
}

.copyright {padding:7px 0 1px; background:#525151;}
.copyright p {font-size:13px; color:$color-light-2; margin-bottom:0;
  font-weight: $f-regular;}
