// =============================================================================
// Variables
// =============================================================================
$social-link-size: 35px;

.footer {
  background:#666;
  overflow:visible;margin-top: 150px;
  padding: 60px 60px 20px;
  font-family: $f-roboto-mono;
  font-weight: 400;

  .footer-logo {
    height: 50px;
    position: relative;
    margin-bottom: -15px;
  }

  .btn-store{
    display: block;
    margin-bottom: 10px;
    width: 200px;

    img {
      width: 100%;
    }


  }
}

.footer-elements {
  margin-top:-120px;
  .footer-element {
    background: #0aa3a9; padding: 8px 15px 15px; text-align:center; box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);

    span.material-icons {
      margin-top: 20px;
      font-size:45px;color:$color-light; margin-bottom:15px;
    }

    p {
      color: $color-light;
      margin-bottom: 0;
      font-size: 14px;
    }

    strong {
      display: block;
    }

    a {
      color: $color-light;
    }

  }

}


.footer-widgets {
  margin-top: 42px;
  .footer-widget {
    padding-right:25px;
    @include media-query-max($media-tablet) {
      margin-top: 25px;
    }

    .small-logo {
      margin: 10px 0 15px;
    }

    h4 {
      color: $color-light;
      text-transform: uppercase;
      margin-bottom: 20px;
      margin-top: 0;
      padding: 0;
    }

    ul.posts { margin:0; padding:0; list-style: none;}
    ul.posts li {padding:9px 0; border-bottom:1px solid $color-light-2; font-size:15px;}
    ul.posts li:first-child {padding-top:0; }
    ul.posts li:last-child {border-bottom:0; }
    ul.posts li a {color:$color-grey; font-weight: 400 !important;}
    ul.posts li a:hover {color:$color-light;}
    ul.posts li span {display:block;font-size:12px; margin-top:3px;color:#B9B9B8;}
  }
}
#mc_embed_signup { margin-top:15px;}
#mc_embed_signup input[type="email"] { border-radius:5px; width:100%; padding:10px 15px; border:0; box-shadow: none;}
#mc_embed_signup input[type="submit"] { margin-top:5px; transition: all 250ms ease-out 0s; border-radius:5px; width:100%; padding:10px 15px; border:0; box-shadow: none; color:$color-light; background:$color-secondary;}
#mc_embed_signup input[type="submit"]:hover { background:$color-dark-2; cursor: pointer;}

/* Social Buttons ---------------------- */
.social-links {
  margin: 40px 0 0;
  padding: 0;
  li {
    list-style: none;
    display: inline-table;

    a {
      color: $color-light;
      font-size: 15px !important;
      display: inline-block;
      padding-top: 6px;
      padding-left: 1px;
      text-align: center;
      height: $social-link-size;
      width: $social-link-size;
      position: relative;
      z-index: 1;
      transition: background 0.15s;
      border-radius: 50%;
      background: $color-dark;

      &:hover{
        background: $color-primary-dark;
      }
    }
  }
}

.copyright {padding:7px 0 1px; background:#525151;}
.copyright p {font-size:13px; color:$color-grey; margin-bottom:0;
  font-weight: 400;}

/* Back to Top Button  ----------------------- */
#back-to-top { color:$color-light; position:fixed; bottom:20px; right:20px; z-index:99; display:none; text-align: center; border-radius: 50%; height: 59px;    width: 59px;    background-color:#0aa3a9;    background-repeat: no-repeat;    background-position: center;  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24); -webkit-transform: scale3d(0.7, 0.7, 1);  transform: scale3d(0.7, 0.7, 1);  -webkit-transition: box-shadow 0.15s, -webkit-transform 0.15s;  transition: box-shadow 0.15s, transform 0.15s;}
#back-to-top i { padding-top:20px; font-size:17px; }
#back-to-top:hover { background:#28CB75;  -webkit-transform: scale3d(1.0, 1.0, 1);  transform: scale3d(1.0, 1.0, 1);}
