// =============================================================================
// Navbar
// =============================================================================
.main-nav{
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: none;
  transition: transform .2s, background .2s;
  transform: translateY(0);
  z-index: 10;
  .sidenav-trigger {
    color: $color-light;
    margin: 0 10px;
  }
  .nav-logo{
    display: none;
    height: 40%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 7px;
    @include media-query-min($media-phone) {
      padding: 0 10px;
    }
  }
  .right{
    margin: 0 10px 0 0;

    .button-border {
      font-size: 14px;
      background: $color-light;
      border-radius: 5px;

      &.type2::after, &.type2::before{
        //top: calc(100% - 1px);
      }
    }

    &.member {
      img {
        width: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: $color-primary;
        border-radius: 50%;
      }
    }
  }

  li.dropdown-container {
    position: relative;
    ul.dropdown{
      width: 240px;
      background: $color-white;
      position: absolute;
      top: 100%;
      box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
      overflow: hidden;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      height: 0;
      transition: height .3s;

      &.drop-right {
        right: 0;
        width: 170px;
        text-align: center;
      }
      li{
        display: block;
        float: none;

        a{
          color: $color-dark-7;
          line-height: 44px;
        }
      }
    }

    & > a:after {
      content: "\25bc";
      padding-left: 5px;
    }

    &.hover {
      & > a {
        background-color: rgba(0, 0, 0, 0.03);
      }
      ul.dropdown{
        height: auto;
      }
    }
  }
}
// =============================================================================
// Dropdown
// =============================================================================
.dropdown-content {
  li a {
    color: $color-dark-5;
    &:hover{
      color: $color-dark;
    }
  }
}

// =============================================================================
// Sidenav
// =============================================================================
.sidenav{
  padding-top: 110px;
  padding-bottom: 0;
  height: 100vh;
  .nav-logo{
    width: 40%;
    left: 50%;
    top: 0;
    margin: 30px auto;
    position: absolute;
    transform: translateX(-50%);
  }
  a:hover{
    color: $color-primary;
  }
  li.dropdown-container {
    & > a:after {
      content: "\25bc";
      padding-left: 5px;
      font-size: 11px;
    }
    ul.dropdown {
      overflow: hidden;
      height: 0;
      transition: all ease .2s;
      a {
        padding-left: 60px;
      }
    }
    &.hover {
      ul.dropdown{
        height: auto;
      }
      & > a {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }
  }
}
// =============================================================================
// Fixed Navbar
// =============================================================================
.fixed-nav, .sticky-nav{
  position: fixed;
  top: -$navbar-height;
  transform: translateY($navbar-height);
  background: $color-light;
  box-shadow: 1px 1px 5px $color-soft-dark;

  ul a, .sidenav-trigger {
    color: $color-dark-5;
  }

  .nav-logo {
    display: block;
  }


}


// =============================================================================
// Parallax
// =============================================================================
.index-banner{
  height: 540px;
  padding-top: 90px;
  @include media-query-max($media-phone) {height: 400px; padding-top: 45px;}
  @include media-query-max($media-tablet) {height: 470px; padding-top: 70px;}
  h1 {
    margin: 6rem 0 0;
  }
  h2 {
    margin-top: 1rem;
  }

  &.custom-page {
    height: 400px;
    @include media-query-max($media-phone) {height: 250px;padding-top: 50px;}
    @include media-query-max($media-tablet) {height: 320px;padding-top: 70px;}
    h1 {
      margin: 2.8rem 0 1.68rem;
    }
  }

  h1, h2 {
    text-align: center;
    text-shadow: .2px .2px 1px rgba(0,0,0,.5);
  }
}

.parallax-container .parallax{

  &:after{
    background: #000;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: .3;
  }

  img {
    width: 100%;
    height: 120%;
    object-fit: cover;
  }
}

// =============================================================================
// Carousel
// =============================================================================
.bg-darken{
  &:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: $color-soft-dark;
  }
}

// =============================================================================
// Laptop banner
// =============================================================================
.home-laptop-banner {
  width: 500px;
  margin: -248px auto 20px;

  @include media-query-max($media-tablet) {
    width: 400px;
    margin-top: -198px;
  }

  img {
    width: 100%;

  }
}
