// =============================================================================
// Navbar
// =============================================================================
.main-nav{
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: none;
  transition: transform .2s, background .2s;
  transform: translateY(0);
  z-index: 10;
  .sidenav-trigger {
    color: $color-light;
  }
  .nav-logo{
    display: none;
    height: 40%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 10px;
    padding-right: 10px;
    @include media-query-min($media-phone) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .right{
    margin: 0 20px;

    .btn-register, .btn-login {
      border-radius: 2rem;
      font-size: 13px;
      font-weight: 800;
    }
    .btn-login {
      background: $color-primary;
    }
    .btn-register{
      background: $color-secondary;
    }

    &.member {
      img {
        width: 40px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: $color-primary;
        border-radius: 50%;
      }
    }

  }
}
// =============================================================================
// Dropdown
// =============================================================================
.dropdown-content {
  li a {
    color: $color-dark-2;
    &:hover{
      color: $color-dark;
    }
  }
}

// =============================================================================
// Sidenav
// =============================================================================
.sidenav{
  padding-top: 110px;
  padding-bottom: 0;
  height: 100vh;
  .nav-logo{
    width: 40%;
    left: 50%;
    top: 0;
    margin: 30px auto;
    position: absolute;
    transform: translateX(-50%);
  }
  a:hover{
    color: $color-primary;
  }
}
// =============================================================================
// Fixed Navbar
// =============================================================================
.fixed-nav{
  position: fixed;
  top: -$navbar-height;
  transform: translateY($navbar-height);
  background: $color-light;
  box-shadow: 1px 1px 5px $color-soft-dark;

  ul a, .sidenav-trigger {
    color: $color-dark-2;
  }

  .nav-logo {
    display: block;
  }


}
// =============================================================================
// Parallax
// =============================================================================
.parallax-container{
  height: 664px;
  @include media-query-max($media-tablet) {height: 560px;}

  &.with-nav{
    padding-top: 90px;
  }
}

// =============================================================================
// Carousel
// =============================================================================
.bg-darken{
  &:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: $color-soft-dark;
  }
}

// =============================================================================
// Laptop banner
// =============================================================================
.home-laptop-banner {
  width: 500px;
  margin: -248px auto 20px;

  @include media-query-max($media-tablet) {
    width: 400px;
    margin-top: -198px;
  }

  img {
    width: 100%;

  }
}
