// =============================================================================
// Serviecs
// =============================================================================


section {
  padding: 20px 25px;
  @include media-query-max($media-tablet) {padding: 20px 5px;}
}

.section-container {
  width: 100%;
  margin: auto;
  @include media-query-min($media-laptop) {width: 85%;}
  @include media-query-min($media-wide) {width: 70%;}
}

.s-advantages{
  .section-image {max-width: 80%; text-align: center}
  .button-image{width: 100%;max-width: 200px;}
}

.s-security {
  .section-image {max-width: 50%; text-align: center}
  .button-image{width: 100%;max-width: 200px;}
}

.services-banner{

  .service {
    margin: 10px 1% 25px;
    width: 31%;
    @include media-query-max($media-phone) {
      width: 100%;
      margin: 10px 0 25px;
    }
    @include media-query-max($media-tablet) {
      width: 47.7%;
    }
  }

  .security {
    margin: 10px 1% 25px;
    width: 47.7%;
    @include media-query-max($media-custom) {
      width: 100%;
      margin: 10px 0 25px;
    }
  }

  .service, .security {
    background: $color-white;
    display: inline-grid;
    box-sizing: border-box;
    padding: 0 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);


    &:hover {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .icon {
      margin-top: 25px;
      height: 55px;
      text-align: center;
      img {
        max-height: 55px;
      }
    }
    .title{
      margin-top: 25px;
      margin-bottom: 5px;
      font-size: 1.2rem;
      font-weight: $f-bold;
      color: $color-dark;
      text-align: center;

      &.big{
        font-size: 2.5rem;
        line-height: 55px;
        margin-bottom: 25px;
      }
    }
    .content{
      margin-top: 0;
      color: $color-dark-7;
      font-weight: $f-regular;
      line-height: 1.6;
      font-size: 16px;
      p{
        text-align: center;
      }
    }

    .read-more {
      text-align: center;
      margin-bottom: 10px;
    }
  }
}

.price-table {
  .table-small{
    @include media-query-min($media-tablet) {display: none;}
  }
  .col {
    margin-bottom: 50px !important;
    padding: 0 !important;
    @include media-query-max($media-custom) {width: 100% !important;}
  }
  .pricing-table {
    box-shadow: 2px 3px 10px $color-soft-dark;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: auto;
    &.table-large{margin-bottom: 60px;@include media-query-max($media-tablet) {display: none;}}
    &.table-small {
      width: 95%;
    }

    tr{
      td, th {
        text-align: center;
        &:first-child {
          text-align: left;
        }

      }
    }

    thead{
      tr th{
        padding: 30px;
        font-size: 1.2rem;
        color: $color-dark;
      }
      &.price-tag tr th{
        font-size: 1rem;
      }
    }

    tbody tr td{
      padding: 20px 30px;
      color: $color-dark-7;

      .check{
        width: 24px;
        height: 24px;

      }
    }
  }
  thead th, tbody td{
    border-radius: 0;
  }


  tr td:nth-child(3), tr th:nth-child(3), .pricing-premium tr td, .pricing-premium tr th {
    background: $color-primary-dark;
    color: $color-light-2 !important;
  }
  tr:nth-child(2n+1) td:nth-child(3), .pricing-premium tr:nth-child(2n+1) td{
      background: $color-primary;
  }
}

.s-subscribe-now {
  h5 {
    margin-bottom: 30px;
  }
}
