// =============================================================================
// Home container
// =============================================================================
body{
  background: $color-gray-c;
}
.home-container {
  width: 98%;
  margin: -60px auto 0;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background: $color-soft-dark;
  box-shadow: 0 0 20px $color-soft-dark;
  overflow: hidden;
}


p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: $color-light;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
