// =============================================================================
// Roboto Mono
// =============================================================================
$f-roboto-mono: "Roboto Mono", sans-serif;
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-Regular", 400, null, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-Italic", 400, italic, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-MediumItalic", 600, italic, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-Medium", 600, null, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-LightItalic", 200, italic, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-Light", 200, null, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-ThinItalic", 100, italic, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-Thin", 100, null, ttf)

// =============================================================================
// Titles
// =============================================================================
h1, h2, h3{
  font-family: $f-roboto-mono;
  font-weight: 600;
  font-style: normal;
  color: $dark-color;
}
h1 {font-size: 36px;}
h2 {font-size: 30px;}
h3 {font-size: 24px;}

// =============================================================================
// Basics
// =============================================================================
html, body{
  font-family: $f-roboto-mono;
  font-size: 16px;
  font-weight: 200;
}
// =============================================================================
// Highlight
// =============================================================================
.highlight {
  font-style: inherit;
  position: relative;
  z-index: 2;
  font-weight: 400;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    right: -5px;
    left: -5px;
    bottom: 0;
    background: $primary-color;
    opacity: 0.5;
    z-index: -1;
  }
}

// =============================================================================
// Links
// =============================================================================
a{
  font-style: normal;
  font-weight: 600 !important;
}
