// =============================================================================
// Roboto Mono
// =============================================================================
$f-roboto-mono: "Roboto Mono", sans-serif;
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-Regular", 400, null, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-Italic", 400, italic, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-MediumItalic", 600, italic, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-Medium", 600, null, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-LightItalic", 200, italic, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-Light", 200, null, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-ThinItalic", 100, italic, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-Thin", 100, null, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-BoldItalic", 800, italic, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-Bold", 800, null, ttf)

// =============================================================================
// Titles
// =============================================================================
h1, h2, h3, h4, .h1, .h2, .h3, .h4, h5, .h5{
  font-family: $f-roboto-mono;
  font-weight: 600;
  font-style: normal;
  color: $color-dark;
}
h1, .h1 {font-size: 30px;}
h2, .h2 {font-size: 24px;}
h3, .h3 {font-size: 20px;}
h4, .h4 {font-size: 18px;}
h5, .h5 {font-size: 16px;}

// =============================================================================
// Basics
// =============================================================================
html, body{
  font-family: $f-roboto-mono;
  font-size: 15px;
  font-weight: 400;
}
strong{
  font-weight: 600;
}
b{
  font-weight: 800;
}
p {
  line-height: 1.5rem;
}
.text-center {text-align: center;}
// =============================================================================
// Highlight
// =============================================================================
.highlight {
  font-style: inherit;
  position: relative;
  z-index: 2;
  font-weight: 400;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    right: -5px;
    left: -5px;
    bottom: 0;
    background: $color-primary;
    opacity: 0.5;
    z-index: -1;
  }
}

// =============================================================================
// Links
// =============================================================================
a{
  font-style: normal;
  font-weight: 600;
}

// =============================================================================
// TEXT
// =============================================================================
.text-thin {font-weight: 100;}
.text-light {font-weight: 200;}
.text-regular {font-weight: 400;}
.text-medium {font-weight: 600;}
.text-bold {font-weight: 800;}
