// =============================================================================
// Weight
// =============================================================================
$f-thin: 100;
$f-light: 300;
$f-regular: 400;
$f-bold: 700;
$f-black: 900;

// =============================================================================
// Roboto Mono
// =============================================================================
$f-roboto-mono: "Roboto Mono", sans-serif;
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-Regular", 400, null, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-Italic", 400, italic, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-MediumItalic", 600, italic, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-Medium", 600, null, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-LightItalic", 200, italic, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-Light", 200, null, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-ThinItalic", 100, italic, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-Thin", 100, null, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-BoldItalic", 800, italic, ttf)
@include font-face('Roboto Mono', "./fonts/roboto-mono/RobotoMono-Bold", 800, null, ttf)
// =============================================================================
// Lato
// =============================================================================
$f-lato: "Lato", sans-serif;
@include font-face('Lato', "./fonts/lato/Lato-ThinItalic", $f-thin, italic, ttf)
@include font-face('Lato', "./fonts/lato/Lato-Thin", $f-thin, null, ttf)
@include font-face('Lato', "./fonts/lato/Lato-LightItalic", $f-light, italic, ttf)
@include font-face('Lato', "./fonts/lato/Lato-Light", $f-light, null, ttf)
@include font-face('Lato', "./fonts/lato/Lato-Regular", $f-regular, null, ttf)
@include font-face('Lato', "./fonts/lato/Lato-Italic", $f-regular, italic, ttf)
@include font-face('Lato', "./fonts/lato/Lato-BoldItalic", $f-bold, italic, ttf)
@include font-face('Lato', "./fonts/lato/Lato-Bold", $f-bold, null, ttf)
@include font-face('Lato', "./fonts/lato/Lato-BlackItalic", $f-black, italic, ttf)
@include font-face('Lato', "./fonts/lato/Lato-Black", $f-black, null, ttf)


// =============================================================================
// Titles
// =============================================================================
h1, h2, h3, h4, .h1, .h2, .h3, .h4, h5, .h5, h6, .h6{
  font-family: $f-lato;
  font-weight: $f-light;
  font-style: normal;
  color: $color-dark;
}
h1, .h1 {
  font-size: 3.5rem !important;
  @include media-query-max($media-tablet) {font-size: 3rem !important;}
  @include media-query-max($media-phone) {font-size: 2.5rem !important;}
}
h2, .h2 {
  font-size: 3rem !important;
  @include media-query-max($media-tablet) {font-size: 2.5rem !important;}
  @include media-query-max($media-phone) {font-size: 2rem !important;}
}
h3, .h3 {
  font-size: 2.7rem !important;
  @include media-query-max($media-tablet) {font-size: 2.2rem !important;}
  @include media-query-max($media-phone) {font-size: 1.7rem !important;}
}
h4, .h4 {
  font-size: 2.2rem !important;
  @include media-query-max($media-tablet) {font-size: 1.8rem !important;}
  @include media-query-max($media-phone) {font-size: 1.5rem !important;}
}

h5, .h5 {
  font-size: 1.7rem !important;
  @include media-query-max($media-phone) {font-size: 1.4rem !important;}
}

h6, .h6 {
  font-size: 1.2rem !important;
}



// =============================================================================
// Basics
// =============================================================================
html, body{
  font-family: $f-lato;
  font-size: 16px;
  font-weight: $f-regular;
}
strong{
  font-weight: 600;
}
b{
  font-weight: 800;
}
p {
  line-height: 1.5rem;
}
// =============================================================================
// Highlight
// =============================================================================
.highlight {
  font-style: inherit;
  position: relative;
  z-index: 2;
  font-weight: 400;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    right: -5px;
    left: -5px;
    bottom: 0;
    background: $color-primary;
    opacity: 0.5;
    z-index: -1;
  }
}

// =============================================================================
// Links
// =============================================================================
a{
  font-style: normal;
  font-weight: 600;
}

// =============================================================================
// TEXT
// =============================================================================
.text-thin {font-weight: $f-thin !important;}
.text-light {font-weight: $f-light !important;}
.text-regular {font-weight:$f-regular !important;}
.text-bold {font-weight: $f-bold !important;}
.text-black {font-weight: $f-black !important;}

.text-center {text-align: center !important;}
.text-left {text-align: left !important;}
.text-right {text-align: right !important;}

.text-primary {color: $color-primary !important;}
.text-secondary {color: $color-secondary !important;}
.text-white {color: $color-light !important;}
.text-dark {color: $color-dark !important;}
.text-danger {color: $color-danger !important;}
.text-purple {color: $color-purple !important;}
.text-blue {color: $color-blue !important;}
.text-pink {color: $color-pink !important;}
.text-green {color: $color-green !important;}
.text-orange {color: $color-orange !important;}

.text-capitalize{text-transform: capitalize !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-lowercase{text-transform: lowercase !important;}
