// =============================================================================
// Colors
// =============================================================================
$color-primary:           #1E88E511100 !default;
$color-primary-light:     lighten($color-primary, 10%) !default;
$color-primary-dark:      darken($color-primary, 3%) !default;
$color-secondary:         #16a085  !default;
$color-secondary-light:   lighten($color-secondary, 10%) !default;
$color-secondary-dark:    darken($color-secondary, 10%) !default;
$color-danger:            #E53935  !default;
$color-danger-light:      lighten($color-danger, 10%) !default;
$color-danger-dark:       darken($color-danger, 10%) !default;

$color-white :            #fff !default;
$color-black :            #000 !default;
$color-green :            #3aba86 !default;
$color-blue :             #63ABFF !default;
$color-purple :           #b45bc4 !default;
$color-orange :           #f2ae3b !default;
$color-pink :             #ff478e !default;

$color-soft-dark:         rgba(0, 0, 0, .5) !default;
$color-dark:              #323232 !default;
$color-dark-3:            #3c3c3c !default;
$color-dark-5:            #555555 !default;
$color-dark-7:            #717171 !default;
$color-light:             #f9f9f9 !default;
$color-light-2:           #f5f5f5 !default;
$color-light-3:           #f0f0f0 !default;
$color-gray-e:            #eeeeee !default;
$color-gray-c:            #cccccc !default;
$color-gray-d:            #dddddd !default;
$color-gray-4:            #4f4f4f !default;
// =============================================================================
// Screen
// =============================================================================
$media-wide:    1440px;
$media-laptop:  1280px;
$media-tablet:  992px;
$media-custom:  768px;
$media-phone:   600px;

// =============================================================================
// Navbar
// =============================================================================
$navbar-height: 64px;

// =============================================================================
// Icons
// =============================================================================
$material-icons-font-path:  '~material-icons/iconfont/';
$fa-font-path:              "~font-awesome/fonts" !default;
