// =============================================================================
// Colors
// =============================================================================
$primary-color: #009DE0 !default;
$secondary-color: #28CB75 !default;
$dark-color: #333 !default;
$light-color: #f9f9f9 !default;

// =============================================================================
// Material Icons
// =============================================================================
$material-icons-font-path: '~material-icons/iconfont/';
